$primary-color:#6C63FF;
$primary-font:'poppins';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #12151E;
    font-family: $primary-font;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}


//header section
#header{
    background-color: $primary-color;
    padding: 20px 0px;
    #nav{
        display: flex;
        justify-content: space-between ;
        .left-nav{
            .logo{
                color: white;
                letter-spacing: 1.2px;
            }
        }

        .items{
            display: flex;
            .item{
                margin: 0 20px;
                list-style: none;
                .link
                {
                    color: white;
                    text-decoration: none;
                    font-size: 19px;
                    font-family: $primary-font;
                }
            }
        }
    }
}

// End of header section



//main section

#main{
    display: flex;
    align-items: center;
    width: 100%;
    .content{
        text-align: center;
        max-width: 600px;
        margin: 250px auto;
        .title{
            color:white;
            font-size: 60px;
        }
        .major{
            color: $primary-color;
            font-size: 30px;
        }
    }
}
//End of main section