@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');




$primary-color:#6C63FF;
$primary-font:'poppins';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #12151E;
    font-family: $primary-font;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}


//header section
#header{
    background-color: $primary-color;
    padding: 20px 0px;
    #nav{
        display: flex;
        justify-content: space-between ;
        .left-nav{
            .logo{
                color: white;
                letter-spacing: 1.2px;
            }
        }

        .items{
            display: flex;
            .item{
                margin: 0 20px;
                list-style: none;
                .link
                {
                    color: white;
                    text-decoration: none;
                    font-size: 19px;
                    font-family: $primary-font;
                }
            }
        }
    }
}

// End of header section



//main section

#main{
    display: flex;
    align-items: center;
    width: 100%;
    .content{
        text-align: center;
        max-width: 600px;
        margin: 250px auto;
        .title{
            color:white;
            font-size: 60px;
        }
        .major{
            color: $primary-color;
            font-size: 30px;
        }
    }
}
//End of main section
a{
    text-decoration: none;
}
//start project section
#Projects{
    margin-top: 150px;
    .title{
        color: white;
        font-size: 50px;
        text-align: center;
        margin-bottom: 80px;
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;

        .card{
          width: 500px;
          height: 500px;
            overflow: hidden;
            background-color: #21242e;
            padding: 0px 0px 30px 0px;
            margin-bottom: 60px;
            .code{
               color: transparent;
                transition: color 0.3s ease-out;
            }
           .project-title{
               color: white;
               
               align-items: center;
               margin-top: 20px;
               font-size: 25px;
               transition: color 0.3s ease-out;
           }
           .project-title:hover{
               .code{
                   display: inline;
                   color: $primary-color;
               }
           }
           .project-image{
               width: 100%;
                height: 80%;
              
           }
        }
    }
}

// End of project section


/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    
  }
  
  .contact-section-header > h2 {
    font-size: 5rem;
    color: white;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
    color: $primary-color;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    color: white;
   
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #12151E;
    border-top: 4px solid $primary-color;
  }
  
  footer > p {
    margin: 2rem;
    color: white;
  }
  
  footer i {
    vertical-align: middle;
    color: white;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  

@media (max-width:600px)
{
    #header{
        #nav{
            .items{display: none;}
        }
    }
}